.text-color {
    color: rgb(185, 185, 185);
}


.highlight{
    background: #282c34;
    color: currentColor;
    font-size: 1em;
    line-height: 1.375;
    padding: .1em;
    margin: .5em 0;
    white-space: pre;
    word-break: break-word;
    border-radius: 0.3em;
    position: relative;
}

.content pre {
    padding: .1em;
}
