@charset "utf-8";

.vantajs {
    position: fixed;
    z-index: -100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

$card-background-color: rgba(22, 0, 29, 0);

$footer-background-color: rgba(22, 0, 29, 0);

$navbar-background-color: rgba(22, 0, 29, 0);

// body {
//     display: flex;
//     min-height: 100vh;
//     flex-direction: column;
// }

// #wrapper {
//     flex: 1;
// }

header {
    padding: 2rem 4rem;
}

.navbar-item.bd-title {
    padding: 0;
}

.navbar-start {
    margin-left: 8rem;
}

.subtitle {
    margin-top: -15px;
}

.bd-section {
    margin-bottom: 0rem;
}

.container-main {
    padding: 1rem 4rem;
}

h2.title {
    color: white;
    background-color: black;
    border-bottom: red 1px solid;
    padding: 0rem 0rem;
    margin-left: 2rem;
}
// .bd-main {
//     background-color: rgba(22, 0, 29, 0.712);
// }

.card-bd {
    margin: 0px;
    padding: 0px;
}

hr.main {
    background-color: rgba(0, 233, 233, 0.281); 
    margin-bottom: 0px;
}

@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/components/card.sass";