@charset "utf-8";

$media-pc: 769px;
$media-sp: 768px;

.vantajs {
    position: fixed;
    z-index: -100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} 

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

a.sa-title {
    text-transform: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

div.sa-subtitle {
    margin-top: -0.5rem;
    font-size: 1rem;
}

.sa-h2 {
    margin-top: 1rem;
    color: greenyellow;
    font-weight: lighter;
    // border-bottom: red 1px solid;
}

#wrapper {
    flex: 1;
} 

#myChartAc {
    background-color: rgba($color: #000000, $alpha: 0.8);
}
#myChartLt {
    background-color: rgba($color: #000000, $alpha: 0.8);
}

svg {
    margin-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.8);
}
@import url('default.css');

@import url('sp.css') screen and (max-width: $media-sp);
@import url('pc.css') screen and (min-width: $media-pc);