article.sa-article {
    margin: 0 1rem;
    font-size: 0.8rem;
}
div.sa-title {
    padding-left: 0.5rem;
}

.sa-h2 {
    float: left;
    font-size: 1rem;
    margin-bottom: 0rem;
}

.sa-repo-container {
    // background-color: lue;
    text-align: center;
    padding: 0rem 1rem;
    border-radius: 0px;
}
.sa-repo-img {
    width: 128px;
    height: 128px;
}

.sa-author-icon {
    max-width: 48px;
    max-height: 48px;
}
.sa-article-header {
    // background-color: red;
    display: flex;
    width: 100%;
    float: left;
    margin-bottom: 1rem;
}
.sa-article-data {
    margin-left: 0.5rem;
}

.sa-article-date {
    color: springgreen;
    font-size: 1.2rem;
    margin: 0;
}
.sa-article-title {
    color: gold;
    font-size: 1rem;
    margin: 0;
}
.sa-article-content {
    font-size: 0.8rem;
    margin-top: 1rem;
    padding-left: 1rem;
}

#myChartAc {
}
#myChartLt {
}