<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>0436 first website</title>

    {% block depends %} 
    {% endblock %}
</head>

<body>
    <div id="vanta-net" class="vantajs"></div>
    <script>
        VANTA.NET({
            el: "#vanta-net",
            mouseControls: true,
            touchControls: true,
            gyroControls: false,
            minHeight: 200.00,
            minWidth: 200.00,
            scale: 1.00,
            scaleMobile: 1.00,
            color: 0x3fffff,
            backgroundColor: 0x000000,
        })
    </script>

    {% block navbar %} 
    {% endblock %} 

    {% block article %} 
    {% endblock %}

</body>

</html>