{% extends "base.html" %}

{% block content %}
{# {% set section = get_section(path="_index.md") %} #}


<div class="bd-section">
    <div class="columns is-desktop" id="wrapper">
        <div class="column is-9 bd-main">
            <h2 class="title bd-repository">Repository</h2>
            {% for page in section.pages %}
            <div>{{ page.title }}</div>
            <div>{{ page.content | safe}}</div>
            {% endfor %}
        </div>
        <div class="column is-3">
            <div class="card">
                <p>test</p>
                <p>test</p>
            </div>
        </div> 

    </div>

</div>
{% endblock content %}