{% extends "base.html" %}

{% block depends %}
<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit-icons.min.js"></script>

<!-- fontawesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
    integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

<!-- three.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
<!-- vanta -->
<script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.net.min.js"></script>

{% block css %}
<link rel="stylesheet" href="{{ get_url(path='mystyles.css') | safe }}">
{% endblock css %}

{% set icon = get_url(path="img/favicon2.png") %}
<link rel="icon" href={{ icon }} type="image/x-icon">
{% endblock %}

</head>

<body>
    <div id="vanta-net" class="vantajs"></div>
    <script>
        VANTA.NET({
            el: "#vanta-net",
            mouseControls: true,
            touchControls: true,
            gyroControls: false,
            minHeight: 200.00,
            minWidth: 200.00,
            scale: 1.00,
            scaleMobile: 1.00,
            color: 0x3fffff,
            backgroundColor: 0x000000,
        })
    </script>

    {% block navbar %}
    <!-- Main Navbar -->
    <header class="sa-header">
        <nav class="uk-navbar">
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li class="uk-active">
                        <div class="sa-title">
                            <a href="../" class="sa-title">0436のdairymemo</a>
                            <div class="sa-subtitle">My first website with Zola and UIKit</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav uk-visible@s">
                    <li><a class="uk-text-large" href="../">index</a></li>
                    <li><a class="uk-text-large" href="./202004">blog</a></li>
                </ul>
                <a href="#" class="uk-navbar-toggle uk-hidden@s" uk-navbar-toggle-icon uk-toggle="target: #sidenav"></a>
            </div>
        </nav>
    </header>

    <div id="sidenav" uk-offcanvas="flip: true" class="uk-offcanvas">
        <div class="uk-offcanvas-bar">
            <ul class="uk-nav">
                <li><a class="uk-text-large" href="../">index</a></li>
                <li><a class="uk-text-large" href="./202004">blog</a></li>
            </ul>
        </div>
    </div>
    {% endblock %}

    {% block article %}
    <article class="sa-article">
        <ul>
            <li>202004</li>
            <li>202003</li>
        </ul>
        {% for page in section.pages %}
        <div class="sa-card">
            <div class="sa-article-header">
                <div class="sa-author-icon">
                    <img class="uk-border-circle" src={{ page.extra.icon }} alt="Placeholder image">
                </div>
                <div class="sa-article-data">
                    <p class="sa-article-date">{{ page.date }}</p>
                    <p class="sa-article-title">{{ page.title }}</p>
                </div>
            </div>
            <div class="sa-article-content">
                {{ page.content | safe }}
            </div>
        </div>
        {% endfor %}
    </article>
    {% endblock %}