{% extends "base.html" %}

{% block navbar%}
<header>
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="#" class="navbar-item has-text-light is-size-3 has-text-weight-bold bd-title">
                0436のMemo(2020-04)
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-end navbar-menu" id="navMenu">
            <a href="{{ config.base_url }}" class="navbar-item has-text-light is-size-3 has-text-weight-bold">
                index
            </a>
            <p class="navbar-item has-text-gray is-size-3 has-text-weight-bold">Memo</p>
        </div>
    </nav>
    <p class="subtitle has-text-primary">
        <span class="base-subtitle">My first website with
            <strong class="has-text-warning">Bulma</strong> and
            <strong class="has-text-warning">Zola</strong></span>
    </p>
</header> 
{% endblock navbar%}

{% block content %}
<section class="columns is-desktop" id="wrapper">
    <div class="column saya-main is-9">
        {% for page in section.pages | reverse %}
        <div class="saya-memo-card">
            <div class="media">
                <figure class="media-left">
                    <p class="image is-64x64">
                        <img class="is-rounded" src="{{ config.base_url }}img/dayo.jpg" alt="icon">
                    </p>
                </figure>
                <div class="meida-content">
                    <div class="content">
                        <p class="is-size-4 has-text-weight-bold has-text-warning" style="margin-bottom: 0;">{{ page.date }}</p>
                        <p class="is-size-5 has-text-weight-bold has-text-primary">{{ page.title }}</p>
                    </div>
                </div>
            </div>
            <div class="saya-memo-content">
                {{ page.content | safe}}
                <hr class="saya-memo">
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="column">

    </div>
</section>
{% endblock content %}